# INTRODUCTION

In [1]:

# Import SparkSession
import pyspark
from delta import configure_spark_with_delta_pip

builder = pyspark.sql.SparkSession.builder.appName("STREAMING_DWH") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).enableHiveSupport().getOrCreate()

In [2]:
# To allow automatic schemaInference while reading
spark.conf.set("spark.sql.streaming.schemaInference", True)

# Create the streaming_df to read from input directory
df = spark \
    .readStream \
    .format("json") \
    .load("data/product/")

df.printSchema()

root
 |-- category: string (nullable = true)
 |-- cogs: double (nullable = true)
 |-- contains_caffeine: boolean (nullable = true)
 |-- contains_fruit: boolean (nullable = true)
 |-- contains_nuts: boolean (nullable = true)
 |-- contains_veggies: boolean (nullable = true)
 |-- event_time: string (nullable = true)
 |-- item: string (nullable = true)
 |-- price: double (nullable = true)
 |-- product_id: string (nullable = true)
 |-- size: string (nullable = true)

In [3]:
from pyspark.sql.functions import current_timestamp, input_file_name

def create_bronze_streaming_table(source, target):
    # Generates a source path based on table name, reads all files from that and inserts into bronze schema

    query = (
        spark.readStream
        .format("json")
        .load(source)
        .withColumn("meta_ingestion_ts", current_timestamp())
        .withColumn("meta_filename", input_file_name())
        .writeStream
        .outputMode("append")
        .format("delta")
        .option("checkpointLocation", f"spark-warehouse/_checkpoints/{target}")
        .toTable(target)
    )
    return query

query1 = create_bronze_streaming_table(source="data/inventory", target="bronze_inventory")
query2 = create_bronze_streaming_table(source="data/product", target="bronze_product")
query3 = create_bronze_streaming_table(source="data/purchase", target="bronze_purchase")

# Use the code 
# spark.streams.awaitAnyTermination()

In [4]:
spark.sql("SELECT * FROM bronze_product").show(10)

+-------------------+----+-----------------+--------------+-------------+----------------+--------------------+------------+-----+----------+------+--------------------+--------------------+
|           category|cogs|contains_caffeine|contains_fruit|contains_nuts|contains_veggies|          event_time|        item|price|product_id|  size|   meta_ingestion_ts|       meta_filename|
+-------------------+----+-----------------+--------------+-------------+----------------+--------------------+------------+-----+----------+------+--------------------+--------------------+
|  Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-17 19:27:...|Blimey Limey| 4.99|      CS06|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
|  Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-17 19:32:...|Blimey Limey| 4.99|      CS06|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
|  Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-18 19:26:...|Blimey Limey| 4.99|      CS06|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
|  Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-17 19:27:...| Mango Magic| 4.99|      CS05|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
|  Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-17 19:27:...| Jetty Punch| 4.99|      CS11|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
|  Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-17 19:32:...| Mango Magic| 4.99|      CS05|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
|  Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-17 19:32:...| Jetty Punch| 4.99|      CS11|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
|  Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-18 19:26:...| Mango Magic| 4.99|      CS05|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
|  Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-18 19:26:...| Jetty Punch| 4.99|      CS11|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
|Indulgent Smoothies| 2.2|            false|          true|        false|            true|2024-02-17 19:27:...|   Beach Bum| 5.49|      IS03|24 oz.|2024-02-21 18:13:...|file:///home/pete...|
+-------------------+----+-----------------+--------------+-------------+----------------+--------------------+------------+-----+----------+------+--------------------+--------------------+
only showing top 10 rows

# SILVER TABLES: SLOWLY CHANGING DIMENSIONS (SCD) - TYPE 1 & 2

In [7]:
from pyspark.sql.functions import md5, concat_ws, lit, row_number, monotonically_increasing_id
from pyspark.sql.types import BooleanType, TimestampType
from pyspark.sql.window import Window
from utils import reorder_columns_in_dataframe

def create_silver_scd1_table(
    source : str, 
    target : str,
    timestamp_key : str,
    merge_key: str,
    surrogate_key : str
):

    # Load data and calculate hashdiff string based on all columns that doesn't contain "meta_" in the name
    df = spark.sql(f"select * from {source} order by {timestamp_key}")
    df = df.withColumn("meta_hashdiff", md5(concat_ws("||", *[c for c in df.columns if "meta_" not in c])))

    # Set default values for meta_last_updated
    df = df.withColumn("meta_last_updated", current_timestamp())

    # Generate surrogate key
    df = df.withColumn(surrogate_key, monotonically_increasing_id())

    # Calculate sequence numbers if source data contain multiple rows for each merge_key
    window_spec = Window.partitionBy(merge_key).orderBy(timestamp_key)
    df = df.withColumn("meta_sequence", row_number().over(window_spec))

    # Reorder columns
    df = reorder_columns_in_dataframe(df=df, 
                                      columns_to_front=[surrogate_key],
                                      columns_to_back=[c for c in df.columns if "meta_" in c],
                                      columns_to_delete=["meta_filename"])
    
    # Create an empty Delta table with the same schema
    tmp_view_name = "temporaryView"
    df.createOrReplaceTempView(tmp_view_name)
    spark.sql(f"CREATE TABLE IF NOT EXISTS {target} LIKE {tmp_view_name} USING DELTA")

    # Get list of sequences
    lst_sequence = sorted([p.meta_sequence for p in df.select('meta_sequence').distinct().collect()])

    # Run SCD1 table
    for seq_num in lst_sequence:
        merge_query = f"""
            MERGE INTO {target} AS target
            USING (
                SELECT * FROM {tmp_view_name}
                WHERE meta_sequence = {seq_num}
            ) AS source ON target.{surrogate_key} = source.{surrogate_key}
            WHEN MATCHED AND target.meta_hashdiff <> source.meta_hashdiff
                THEN UPDATE SET *
            WHEN NOT MATCHED 
                THEN INSERT *
        """
        spark.sql(merge_query).show()

In [6]:

create_silver_scd1_table (
    source="bronze_purchase",
    target="silver_purchase_scd1",
    timestamp_key="transaction_time",
    merge_key="transaction_id",
    surrogate_key="transaction_sid",
)

create_silver_scd1_table (
    source="bronze_inventory",
    target="silver_inventory_scd1",
    timestamp_key="event_time",
    merge_key="event_time",
    surrogate_key="inventory_sid",
)

NameError: name 'merge_key' is not defined

In [ ]:
def create_silver_scd2_table(source, target, merge_key, timestamp_key, surrogate_key):

    # Load data and calculate hashdiff string based on all columns that doesn't contain "meta_" in the name
    df = spark.sql(f"select * from {source}")
    df = df.withColumn("meta_hashdiff", md5(concat_ws("||", *[c for c in df.columns if "meta_" not in c])))

    # Set default values for meta columns
    df = df.withColumn("meta_is_current", lit(1).cast(BooleanType()))
    df = df.withColumn("meta_valid_from", df[timestamp_key])
    df = df.withColumn("meta_valid_to", lit('9999-12-31').cast(TimestampType()))

    # Calculate surrogate key
    df = df.withColumn(surrogate_key, monotonically_increasing_id())

    # Calculate sequence numbers if source data contain multiple rows for each merge_key
    window_spec = Window.partitionBy(merge_key).orderBy(timestamp_key)
    df = df.withColumn("meta_sequence", row_number().over(window_spec))

    # Reorder columns in dataframe
    df = reorder_columns_in_dataframe(
        df=df, 
        columns_to_front=[surrogate_key, merge_key],
        columns_to_back=[c for c in df.columns if "meta_" in c],
        columns_to_delete=["meta_filename"]
    )

    # Create an empty Delta table with the same schema
    tmp_view_name = "temporaryView"
    df.createOrReplaceTempView(tmp_view_name)
    spark.sql(f"CREATE TABLE IF NOT EXISTS {target} LIKE {tmp_view_name} USING DELTA")

    # Get list of sequences
    lst_sequence = sorted([p.meta_sequence for p in df.select('meta_sequence').distinct().collect()])

    # Run SCD2 table 
    for seq_num in lst_sequence:
        merge_query = f"""
            MERGE INTO {target} AS target
            USING (
                SELECT * FROM {tmp_view_name}
                WHERE meta_sequence = {seq_num}
            ) AS source ON target.{merge_key} = source.{merge_key}
            WHEN MATCHED AND target.meta_is_current = true AND target.meta_hashdiff <> source.meta_hashdiff
                THEN UPDATE SET meta_is_current = false, meta_valid_to = source.{timestamp_key}
            WHEN NOT MATCHED 
                THEN INSERT *
        """
        spark.sql(merge_query).show()

        insert_query = f"""
            INSERT INTO {target}
            SELECT * FROM 
            (
                SELECT source.* 
                FROM {tmp_view_name} source
                JOIN {target} target ON target.{merge_key} = source.{merge_key}
                WHERE source.meta_sequence = {seq_num}
                AND target.meta_hashdiff <> source.meta_hashdiff 
            )
        """
        spark.sql(insert_query)

In [ ]:
# Create SCD2 tables
create_silver_scd2_table(
    source = "bronze_product",
    target = "silver_product_scd2",
    merge_key = "product_id",
    timestamp_key = "event_time",
    surrogate_key = "product_sid"
)

+-----------------+----------------+----------------+-----------------+
|num_affected_rows|num_updated_rows|num_deleted_rows|num_inserted_rows|
+-----------------+----------------+----------------+-----------------+
|             1836|            1836|               0|                0|
+-----------------+----------------+----------------+-----------------+

+-----------------+----------------+----------------+-----------------+
|num_affected_rows|num_updated_rows|num_deleted_rows|num_inserted_rows|
+-----------------+----------------+----------------+-----------------+
|             3375|            3375|               0|                0|
+-----------------+----------------+----------------+-----------------+

+-----------------+----------------+----------------+-----------------+
|num_affected_rows|num_updated_rows|num_deleted_rows|num_inserted_rows|
+-----------------+----------------+----------------+-----------------+
|             6210|            6210|               0|                0|
+-----------------+----------------+----------------+-----------------+

In [ ]:
spark.sql("select * from silver_purchase_scd1").show(5)
spark.sql("select * from silver_inventory_scd1").show(5)
spark.sql("select * from silver_product_scd2 order by product_sid").show(5)

+---------------+---------------+---------+---------------+-----+----------+--------+----------------+--------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|transaction_sid|add_supplements|is_member|member_discount|price|product_id|quantity|supplement_price|total_purchase|     transaction_id|    transaction_time|   meta_ingestion_ts|       meta_hashdiff|   meta_last_updated|
+---------------+---------------+---------+---------------+-----+----------+--------+----------------+--------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|              0|          false|     true|            0.1| 5.99|      SC01|       2|             0.0|         10.78|7834327577162374633|2024-02-17 19:27:...|2024-02-21 17:49:...|1dcc0482982a754c3...|2024-02-21 17:51:...|
|              1|           true|    false|            0.0| 5.99|      SF06|       1|            1.99|          7.98|3911541148186362968|2024-02-17 19:27:...|2024-02-21 17:49:...|016e84022be7b3336...|2024-02-21 17:51:...|
|              2|           true|    false|            0.0| 5.99|      SF04|       1|            1.99|          7.98|9121246476561420786|2024-02-17 19:27:...|2024-02-21 17:49:...|507d4a501cede377d...|2024-02-21 17:51:...|
|              3|           true|    false|            0.0| 5.49|      IS04|       1|            1.99|          7.48| 541572303998980881|2024-02-17 19:27:...|2024-02-21 17:49:...|e6fc0914fce1fdec3...|2024-02-21 17:51:...|
|              4|           true|    false|            0.0| 4.99|      CS07|       2|            1.99|         13.96|1830085331582317580|2024-02-17 19:27:...|2024-02-21 17:49:...|61f75a7278ee6b97a...|2024-02-21 17:51:...|
+---------------+---------------+---------+---------------+-----+----------+--------+----------------+--------------+-------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

+-------------+--------------------+--------------+---------+----------+--------------+--------------------+--------------------+--------------------+
|inventory_sid|          event_time|existing_level|new_level|product_id|stock_quantity|   meta_ingestion_ts|       meta_hashdiff|   meta_last_updated|
+-------------+--------------------+--------------+---------+----------+--------------+--------------------+--------------------+--------------------+
|            0|2024-02-17 19:27:...|            34|       44|      SC01|            10|2024-02-21 17:49:...|b193b27f72a8685a4...|2024-02-21 17:51:...|
|            1|2024-02-17 19:27:...|            49|       59|      SF06|            10|2024-02-21 17:49:...|af9f74edf7247d629...|2024-02-21 17:51:...|
|            2|2024-02-17 19:27:...|            48|       58|      SF04|            10|2024-02-21 17:49:...|d079350b537000225...|2024-02-21 17:51:...|
|            3|2024-02-17 19:27:...|            34|       44|      SC03|            10|2024-02-21 17:49:...|3e82e56264b0286a1...|2024-02-21 17:51:...|
|            4|2024-02-17 19:28:...|            48|       58|      SF05|            10|2024-02-21 17:49:...|21b50d574f833ce25...|2024-02-21 17:51:...|
+-------------+--------------------+--------------+---------+----------+--------------+--------------------+--------------------+--------------------+
only showing top 5 rows

+-----------+----------+-----------------+----+-----------------+--------------+-------------+----------------+--------------------+---------------+-----+------+--------------------+--------------------+---------------+--------------------+--------------------+-------------+
|product_sid|product_id|         category|cogs|contains_caffeine|contains_fruit|contains_nuts|contains_veggies|          event_time|           item|price|  size|   meta_ingestion_ts|       meta_hashdiff|meta_is_current|     meta_valid_from|       meta_valid_to|meta_sequence|
+-----------+----------+-----------------+----+-----------------+--------------+-------------+----------------+--------------------+---------------+-----+------+--------------------+--------------------+---------------+--------------------+--------------------+-------------+
|          0|      CS07|Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-18 19:26:...|Blueberry Bliss| 4.99|24 oz.|2024-02-21 17:49:...|15cc375354ec3db62...|           true|2024-02-18 19:26:...| 9999-12-31 00:00:00|            3|
|          0|      CS07|Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-18 19:26:...|Blueberry Bliss| 4.99|24 oz.|2024-02-21 17:49:...|15cc375354ec3db62...|          false|2024-02-18 19:26:...|2024-02-17 19:27:...|            3|
|          0|      CS07|Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-18 19:26:...|Blueberry Bliss| 4.99|24 oz.|2024-02-21 17:49:...|15cc375354ec3db62...|           true|2024-02-18 19:26:...| 9999-12-31 00:00:00|            3|
|          0|      CS07|Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-18 19:26:...|Blueberry Bliss| 4.99|24 oz.|2024-02-21 17:49:...|15cc375354ec3db62...|          false|2024-02-18 19:26:...|2024-02-17 19:27:...|            3|
|          0|      CS07|Classic Smoothies| 1.5|            false|          true|        false|           false|2024-02-18 19:26:...|Blueberry Bliss| 4.99|24 oz.|2024-02-21 17:49:...|15cc375354ec3db62...|           true|2024-02-18 19:26:...| 9999-12-31 00:00:00|            3|
+-----------+----------+-----------------+----+-----------------+--------------+-------------+----------------+--------------------+---------------+-----+------+--------------------+--------------------+---------------+--------------------+--------------------+-------------+
only showing top 5 rows

In [ ]:

# def create_gold_dimension_table():

In [ ]:
from utils import generate_dim_table_references

def create_gold_fact_table(
    source : str, 
    target : str,
    surrogate_key : str,
    timestamp_key : str,
    dim_table_refs : dict
):

    # Generate and run SQL query
    df = spark.sql(generate_dim_table_references(source, timestamp_key, dim_table_refs))

    # Reorder columns in dataframe
    df = reorder_columns_in_dataframe(
        df=df, 
        columns_to_front=[surrogate_key] + [r["surrogate_key"] for r in dim_table_refs],
        columns_to_back=[c for c in df.columns if "meta_" in c]
    )

    # Create an empty Delta table with the same schema
    tmp_view_name = "temporaryView"
    df.createOrReplaceTempView(tmp_view_name)
    spark.sql(f"CREATE TABLE IF NOT EXISTS {target} LIKE {tmp_view_name} USING DELTA")

    # Merge into target table 
    merge_query = f"""
        MERGE INTO {target} AS target
        USING {tmp_view_name} AS source ON target.{surrogate_key} = source.{surrogate_key}
        WHEN MATCHED AND target.meta_hashdiff <> source.meta_hashdiff THEN UPDATE SET *
        WHEN NOT MATCHED THEN INSERT *
    """
    spark.sql(merge_query).show()

In [ ]:
create_gold_fact_table (
    source="silver_purchase_scd1",
    target="gold_fact_purchase",
    surrogate_key="transaction_sid",
    timestamp_key="transaction_time",
    dim_table_refs=[{"table_name": "silver_product_scd2", "merge_key": "product_id", "surrogate_key": "product_sid"}]
)

create_gold_fact_table (
    source="silver_inventory_scd1",
    target="gold_fact_inventory",
    surrogate_key="inventory_sid",
    timestamp_key="event_time",
    dim_table_refs=[{"table_name": "silver_product_scd2", "merge_key": "product_id", "surrogate_key": "product_sid"}]
)

SELECT src.*, silver_product_scd2.product_sid
FROM silver_purchase_scd1 src
LEFT JOIN silver_product_scd2 ON silver_product_scd2.product_id = src.product_id
        AND src.transaction_time BETWEEN silver_product_scd2.meta_valid_from AND silver_product_scd2.meta_valid_to

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `meta_sequence` cannot be resolved. Did you mean one of the following? [`src`.`price`, `src`.`quantity`, `src`.`is_member`, `src`.`meta_hashdiff`, `src`.`meta_last_updated`].;
'Project ['meta_sequence]
+- Project [transaction_sid#36896L, product_sid#36910L, add_supplements#36897, is_member#36898, member_discount#36899, price#36900, product_id#36901, quantity#36902L, supplement_price#36903, total_purchase#36904, transaction_id#36905, transaction_time#36906, meta_ingestion_ts#36907, meta_hashdiff#36908, meta_last_updated#36909]
   +- Project [transaction_sid#36896L, add_supplements#36897, is_member#36898, member_discount#36899, price#36900, product_id#36901, quantity#36902L, supplement_price#36903, total_purchase#36904, transaction_id#36905, transaction_time#36906, meta_ingestion_ts#36907, meta_hashdiff#36908, meta_last_updated#36909, product_sid#36910L]
      +- Join LeftOuter, ((product_id#36911 = product_id#36901) AND ((transaction_time#36906 >= meta_valid_from#36925) AND (cast(transaction_time#36906 as timestamp) <= meta_valid_to#36926)))
         :- SubqueryAlias src
         :  +- SubqueryAlias spark_catalog.default.silver_purchase_scd1
         :     +- Relation spark_catalog.default.silver_purchase_scd1[transaction_sid#36896L,add_supplements#36897,is_member#36898,member_discount#36899,price#36900,product_id#36901,quantity#36902L,supplement_price#36903,total_purchase#36904,transaction_id#36905,transaction_time#36906,meta_ingestion_ts#36907,meta_hashdiff#36908,meta_last_updated#36909] parquet
         +- SubqueryAlias spark_catalog.default.silver_product_scd2
            +- Relation spark_catalog.default.silver_product_scd2[product_sid#36910L,product_id#36911,category#36912,cogs#36913,contains_caffeine#36914,contains_fruit#36915,contains_nuts#36916,contains_veggies#36917,event_time#36918,item#36919,price#36920,size#36921,meta_ingestion_ts#36922,meta_hashdiff#36923,meta_is_current#36924,meta_valid_from#36925,meta_valid_to#36926,meta_sequence#36927] parquet

In [ ]:
# spark.sql("select * from gold_fact_purchase").show(5)
spark.sql("select * from gold_fact_inventory").show(5)